// Screen sizes 
$screen-sm: 576px; 
$screen-md: 768px; 
$screen-lg: 992px; 
$screen-xl: 1200px; 
$screen-xxl: 1300px; 
$screen-full: 1400px; 

// Colors
$primary-color: #F9F9F9;
$secondary-color: #3FB9E5;

$text-color: #252525;
$text-light-color: #D9D9D9;
$accent-color: #3FB9E5;
$accent2-color: #E6B26D;

$logo1_color: #96C11F;
$logo2_color: #7F1450;
$logo3_color: #A2185B;
$logo4_color: #D60B52;
$logo5_color: #E61873;
$logo6_color: #F39200;
$logo7_color: #F9B233;
$logo8_color: #3AAA35;
$logo9_color: #12A19A;
$logo10_color: #3EB9B1;
$logo11_color: #68C8ED;